@media(max-width:1500px){
    .container{ 
        max-width: 130rem;
        padding: 0 3.2rem;
    }
    .nav-list{
        gap: 3.2rem;
    }
}
@media(max-width:1300px){
    html{
        font-size: 56.25%;
        overflow-x: hidden;
    }    
    .header{
        overflow-x: hidden;
    }
    .home-pic{
        max-height: 100%;
    }
    .img-bg{
        width: 450px;
        height: 450px;
    }
    .img-bg-1{
        width: 580px;
        height: 580px;
    }
    .swiper {
        width: 70%;
    }
    .f-social-links .icon{
        width: 2rem;
        height: 2rem;
    }   
    .container{
        max-width: 110rem;
    }
    .grid{
        gap: 4.8rem;
    }
    .event { grid-template-columns: 1fr 1fr; }
}
@media (max-width:996px){
    html{
        font-size: 50%;
    }
    .header #menu-btn{
        display: inline-block;
    }
    .img-1::before{
        width: 120px;
     }
    .header .navbar{
        position: fixed;
        top:10%;
        right:-110%;
        width:100%;
        height: 90vh;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
        z-index: 99;
    }
    .header .navbar .nav-list{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 8.8rem;
    }
    .header .navbar .nav-list .nav-link{
        font-size: 2rem;
        padding: 1.5rem 1rem;
        transition: all 0.3s linear;
        border-radius: 10px;
    }
    .header .nav-link:hover,
    .header .nav-link:active{
       transform: translateX(1rem);
       background: var(--home-bg);
    }
    .header .navbar.active{
        right:0%;
        transition: .4s linear;
    }
    .search-form  form  input:active,
    .search-form  form  input:focus{
        border: 2px solid var(--heading);
        border-right: none;
        border-radius: 5px 0 0 5px;  
    }
    .home-section{
        height: auto;
    }
    .img-bg-1{
        width: 560px;
        height: 560px;
    }
    .cat-section .grid-four-col,
    .top-rated .grid-four-col{
        grid-template-columns: repeat(3, 1fr);
    }
    .ads{
        border-radius: 0rem;
    }
    .ads.container{
        max-width: 100%;
    }
    .event {
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 50px;
        align-items: center;
      }
    
      .event-left { margin-bottom: 0; }
    
      .event .play { right: -10px; }
}
@media (max-width:790px){
    .container{
        max-width: 81rem;
    }
    .home-section{
        height: auto;
    }
    .home-pic{
        max-width: 100%;
    }
    .home-section .grid-two-col{
        grid-template-columns: 1fr;
    }
    .home-section .grid{
        gap: 0rem;
    }
    .home-data h1 {
        font-size: 4.7rem;
    }
    .home-data{
        text-align: center;
        align-items: center;
    }
    .img-bg{
        display: none;
    }
    .img-bg-1{
       display: none;
    }
    .event-section{
        height: auto;
    }
    .event-pic{
        max-width: 100%;
    }
    .event-section .grid-two-col{
        grid-template-columns: 1fr;
    }
    .event-section .grid{
        gap: 0rem;
    }
    .event-data h1 {
        font-size: 4.7rem;
    }
    .event-data{
        text-align: center;
        align-items: center;
    }
    .about-section .container.grid-two-col{
        grid-template-columns: 1fr;
    }
    .cat-section .grid-four-col{
        grid-template-columns: repeat(2, 1fr);
    }
    .det-section .container.grid-three-col{
        grid-template-columns: 1fr;
    }
    .swiper {
        width: 90%;
    }
    .blog .container.grid-three-col{
        grid-template-columns: 1fr;
    }
    .news img {
        width: 100%;
        height: 100%;
        border-radius: 1rem 0rem 0 1rem;
    }
    .news{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .footer .container.grid-four-col{
        grid-template-columns: repeat(2, 1fr);
    }
    .footer .f-service{
        padding-bottom: 2rem;
    }
}
@media (max-width:700px){
    .login-form form input {
        width: 80%;
    }
    .img-1 img {
        max-height: 70%;
        max-width: 70%;
    }
    .img-2 img {
        max-width: 70%;
    }
    .top-rated .grid-four-col{
        grid-template-columns: repeat(2, 1fr);
    }
    .swiper {
        width: 100%;
    }
    .det-section .new-con.grid-two-col{
        grid-template-columns: 1fr;
    }
    .primary-heading{
        margin: 0 2rem;
    }
    .event .play { right: -100px; }
}
@media (max-width:490px){
    .header{
        height: auto;
        flex-direction: column;
        padding: 1rem;
    }
    .header .navbar{
        top:14%;
        height: 80vh;
    }
    .header .navbar .nav-list{
        gap: 6.8rem;
    }
    .header .logo{
        margin-right: 28rem;
    }
    .header .icons{
        margin-left: 16rem;
        font-size: 2rem;
    }
    .logo span {
        font-size: 2rem;
    }
    .search-form.active {
        right: 2%;
    }
    .search-form{
        width: 40rem;
    }    
    .img-1::before{
        width: 130px;
     }
    .cat-section .grid-four-col,
    .top-rated .grid-four-col{
        grid-template-columns: repeat(1, 1fr);
    }
    .course{
        margin: 0 3rem;
    }
    .testimonial .container .swiper .swiper-slide {
         grid-template-columns: 1fr; 
        flex-direction: column;
    }
    .swiper-slide::before{
       display: none;
    }
    .swiper-slide::after{
        display: none;
    }
    .testimonial .test-data{
        grid-row: 2;
    }
    .count-section .container.grid-four-col{
        grid-template-columns: 1fr;
    }
    .news img {
        width: 100%;
        height: 100%;
        border-radius: 1rem 1rem 0 0;
    }
    .news{
        display: grid;
        grid-template-columns: 1fr;
    }
    .blog .container.grid-two-col{
        grid-template-columns: 1fr;
    }
    .ads .ad-data {
        padding-bottom: 0rem;
    }
    .ads .ad-img {
        margin-bottom:2rem ;
    }
    .contact-section .container.grid-three-col{
        grid-template-columns: 1fr;
    }
    .contact-section .contact-det.grid-two-col{
        grid-template-columns: 1fr;
    }
    .contact-section .contact-box:not(:nth-child(3)) {
        border-right:none;
        margin-bottom: 2rem;
    }
    .event .play { right: -20px; }

    .event-card {
      display:flex;
      align-items: center;
      text-align: left;
    }
  
    .event-card .content-left {
      width: 100px;
      padding-bottom: 0;
      margin-bottom:  0;
      padding-right: 15px;
      margin-right:  25px;
      box-shadow: 1px 0 0 0 #072f60;
    }
  
    .event .schedule {
      justify-content: start;
      margin-bottom: 5px;
    }
  
    .event-card .event-name { 
        text-align: left; 
    }
}
@media (max-width:400px){
    .img-1::before{
        width: 100px;
     }
    .footer .container.grid-four-col{
        grid-template-columns: 1fr;
    }
    .footer .f-service{
        padding-bottom: 0rem;
    }
    .footer .f-address{
        padding-bottom: 2rem;
    }
}
@media (max-width:370px){
    .header .logo{
        margin-right: 20rem;
    }
    .header .icons{
        margin-left: 12rem;
    }
    .section-subtitle { 
        font-size: 18px; 
    }
}
@media (max-width:285px){
    html{
        font-size: 40%;
    }
    .header .logo{
        margin-right: 15rem;
    }
    .header .icons{
        margin-left: 8rem;
    }
}
